* {
  background-color: #adf0e7;
  margin: 0;
  padding: 0;
}

#counterLabel {
  display: block;
  text-align: center;
  font-size: 75px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
button {
  background-color: #58837d;
  border: none;
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 10px 20px;
  margin: 15px;
}

button:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
}